.elg-modal-container {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba( 0, 0, 0, .65 );
    overflow-y: auto;
    z-index: 999999;
}
.elg-modal-container.is-open {
    display: block;
}

.elg-modal {
    position: absolute;
    top: 32px;
    left: 50vw;
    width: 500px;
    max-width: 100%;
    margin-bottom: 32px;
    padding: 16px;
    background-color: #fff;
    transform: translateX(-50%);
}

body.elg-modal-open {
    overflow: hidden;
}

.elg-screen-reader-text {
    order: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
